#connect {
  background-color: grey;
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
  height: 250px;
  width: 800px;
  h2 {
    font-size: 3em;
    padding-top: 15px;
    margin-left: 25px;
  }
  p {
    font-size: 1.3em;
    margin-left: 25px;
    width: 780px;
  }
  #connectLinks {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    .connectImages {
      height: 50px;
      margin-right: 10px;
      margin-bottom: 20px;
    }
  }
}